SECRET_KEY=<SECRET_KEY>
DEBUG=<DEBUG>

# Local
PG_DB_NAME=<PG_DB_NAME>
PG_DB_USER=<PG_DB_USER>
PG_DB_PASSWORD=<PG_DB_PASSWORD>
PG_DB_HOST=<PG_DB_HOST>
PG_DB_PORT=<PG_DB_PORT>

CRM_USERS_URL=<CRM_USERS_URL>
SUPPORT_POSTS_URL=<SUPPORT_POSTS_URL>
HTTP_TIMEOUT_SECONDS=<HTTP_TIMEOUT_SECONDS>

AI_PROVIDER=<OPENAI>
OPENAI_API_KEY=<OPENAI_API_KEY>